@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.homePage {
    background-color: #3F2E3E;
    height: fit-content;
}

.homePage .navBar {
    height: 60px;
}

.homePage .navBar div {
    display: inline;
    width: 300px;
}

.homePage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.homePage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.homePage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.homePage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.navBar .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.homePage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.homePage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
}

.homePage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.homePage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.homePage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    transition: .3s;
}

.homePage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.homePage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.homePage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.homePage .navBar #profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: .3s;
}

.homePage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.homePage .navBar #profileIcon svg {
    position: absolute;
    margin-left: -10px;
    transition: .3s;
}

.homePage .navBar #profileIcon:hover svg {
    fill: white;
}

.homePage .header {
    height: 100vh;
    width: 100%;
    opacity: 10;
    animation: showHeader 1s both 0.4s;
}

@keyframes showHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.homePage .header .explainationHeader {
    width: 600px;
    height: 130px;
    position: absolute;
    top: 400px;
    overflow: hidden;
    left: 40px;
    z-index: 10;
}

.homePage .header .backGroundImgHeader {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 80px;
    left: 15%;
}

.homePage .header .backGroundImgHeader ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homePage .header .backGroundImgHeader ul img {
    filter: brightness(75%);
}

.homePage .header .littleImageHeader ul img {
    filter: brightness(75%);
}

.homePage .header .littleImageHeader {
    width: 400px;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 58%;
}

.homePage .header .littleImageHeader ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homePage .header .backGroundImgHeader ul li {
    display: inline-block;
    transition: 0.3s;
    list-style: none;
    margin-right: 70px;
}

.homePage .header .backGroundImgHeader ul li:nth-child(1) {
    margin-left: 0px;
    animation-name: identifier;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .backGroundImgHeader ul li:nth-child(2) {
    animation-name: fade2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .backGroundImgHeader ul li:nth-child(3) {
    animation-name: fade3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .backGroundImgHeader ul li:nth-child(4) {
    animation-name: fade4;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li {
    margin-bottom: 220px;
    transition: 0.3s;
    transform: translateY(160px);
    list-style: none;
}

.homePage .header .littleImageHeader ul li:nth-child(1) {
    animation-name: identifier3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li:nth-child(2) {
    animation-name: littleImagefade2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li:nth-child(3) {
    animation-name: littleImagefade3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li:nth-child(4) {
    animation-name: littleImagefade4;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .explainationHeader ul li {
    list-style: none;
    color: rgb(226, 226, 226);
    margin-bottom: 50px;
    transform: translateX(70px);
    margin: 20px;
    width: 330px;
    transition: 0.3s;
    display: inline-block;
    transition: 0.3s;
}

.homePage .header .explainationHeader ul li:nth-child(1) {
    margin-left: -1150;
    animation-name: identifier2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .explainationHeader ul li p {
    font-family: regularFont;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.8)
}

.homePage .header .explainationHeader ul li:nth-child(2) {
    animation-name: explainationfade2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .explainationHeader ul li:nth-child(3) {
    animation-name: explainationfade3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    opacity: 0;
}

.homePage .header .explainationHeader ul li:nth-child(4) {
    animation-name: explainationfade4;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes identifier {
    0% {
        margin-left: 0px;
        opacity: 1;
    }

    5% {
        margin-left: 0px;
        opacity: 1;

    }

    10% {
        margin-left: -420px;
        opacity: 0;

    }

    30% {
        margin-left: -420px;
        opacity: 0;

    }

    35% {
        margin-left: -920px;
        opacity: 0;

    }

    65% {
        margin-left: -920px;
        opacity: 0;

    }

    70% {
        margin-left: -1490px;
        opacity: 0;

    }

    100% {
        margin-left: -1490px;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    54% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    73% {
        opacity: 1;
    }

    100% {
        opacity: 1
    }
}

@keyframes identifier2 {
    0% {
        margin-left: -1150px;
        opacity: 0;
    }

    5% {
        margin-left: -1150px;
        opacity: 0;
    }

    10% {
        margin-left: -780px;
        opacity: 0;
    }

    30% {
        margin-left: -780px;
        opacity: 0;
    }

    35% {
        margin-left: -400px;
        opacity: 0;
    }

    65% {
        margin-left: -400px;
        opacity: 0;
    }

    70% {
        margin-left: 0px;
        opacity: 1;
    }

    100% {
        margin-left: 0px;
        opacity: 1;

    }
}


@keyframes explainationfade2 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    16% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    64% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes explainationfade3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes explainationfade4 {
    0% {
        opacity: 1;
    }

    4% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    73% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes identifier3 {
    0% {
        margin-top: -0px;
        opacity: 1;
    }

    5% {
        margin-top: -0px;
        opacity: 1;
    }

    10% {
        margin-top: -600px;
        opacity: 0;
    }

    30% {
        margin-top: -600px;
        opacity: 0;
    }

    35% {
        margin-top: -1100px;
        opacity: 0;
    }

    65% {
        margin-top: -1100px;
        opacity: 0;
    }

    70% {
        margin-top: -1710px;
        opacity: 0;
    }

    100% {
        margin-top: -1710px;
        opacity: 0;
    }
}

@keyframes littleImagefade2 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    64% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes littleImagefade3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes littleImagefade4 {
    0% {
        opacity: 0;
    }

    4% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    73% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.homePage .section {
    width: 100.8%;
    height: auto;
}



.homePage .section .homePageShelvesBooksListText p {
    font-family: regularFont;
    color: white;
    font-size: 2em;
    margin-left: 40%;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .homePageShelvesBooksListText p span {
    font-family: regularFont;
    color: rgb(209, 209, 209);
    font-size: .7em;
}

.homePage .section .homePageShelvesBooksList {
    width: 90%;
    height: 160px;
    background-color: rgb(47, 34, 51);
    border-radius: 10px;
    border: 4px solid rgb(35, 24, 39);
}

.homePage .section .homePageShelvesBooksListText {
    transform: translateY(50px);
}

.homePage .section .recommendedBookListTitle {
    margin-top: 140px;
}

.homePage .section .recommendedBookListTitle p {
    color: white;
    font-family: regularFont;
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .recommendedBookList {
    height: 100vh;
    background-color: rgb(47, 34, 51);
    border-radius: 10px;
    border: 2px solid rgb(35, 24, 39);
}

.homePage .section .homePageGenersTitle p {
    color: white;
    font-family: regularFont;
    text-align: center;
    font-size: 2em;
    margin-top: 60px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .homePageGenersExplanation {
    height: 280px;
}

.homePage .section .homePageGenersImage {
    height: 280px;
}

.homePage .section .homePageGenersExplanation p {
    color: rgb(224, 224, 224);
    font-family: regularFont;
    font-size: 1.3em;
    margin-top: 60px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .homePageGenersImage img {
    width: 94%;
    height: 450px;
    margin-top: -50px;
}

.homePage .section .homePageGenersExplanation button{
    background-color: transparent;
    border: 2px solid rgb(221, 221, 221);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: rgb(221, 221, 221);
    font-family: regularFont;
    transition: 0.3s;
}

.homePage .section .homePageGenersExplanation button:hover{
    background-color: rgb(221, 221, 221);
    color: #3F2E3E;
}