@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.homePage {
    background-color: #3F2E3E;
    height: fit-content;
}

.homePage .navBar {
    height: 60px;
}

.homePage .navBar div {
    display: inline;
    width: 300px;
}

.homePage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.homePage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.homePage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.homePage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.navBar .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.homePage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.homePage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
}

.homePage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.homePage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.homePage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    transition: .3s;
}

.homePage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.homePage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.homePage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.homePage .navBar #profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: .3s;
}

.homePage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.homePage .navBar #profileIcon svg {
    position: absolute;
    margin-left: -10px;
    transition: .3s;
}

.homePage .navBar #profileIcon:hover svg {
    fill: white;
}

.homePage .header {
    height: 93vh;
    width: 100%;
}

.homePage .header .explainationHeader {
    border: 1px solid white;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 250px;
    left: 120px;
}

.homePage .header .backGroundImgHeader {
    width: 700px;
    height: 600px;
    position: absolute;
    top: 80px;
    left: 17%;
}

.homePage .header .backGroundImgHeader ul {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
}

.homePage .header .littleImageHeader {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 58%;
}

.homePage .header .littleImageHeader ul {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

.homePage .header .backGroundImgHeader ul li {
    display: inline-block;
    border: 2px solid red;
    margin-right: 100px;
}

.homePage .header .backGroundImgHeader ul li:nth-child(1) {

}

.homePage .header .littleImageHeader ul li {
    border: 2px solid red;
    margin-bottom:100px;
}