@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
}

.homePage {
    background-color: #242131;
    height: fit-content;
    scroll-behavior: smooth;
}

.homePage .navBar {
    height: 60px;
    transition: 0.3s;
    z-index: 25;
    position: fixed;
    width: 100.8%;
}

.homePage .navBar div {
    display: inline;
    width: 300px;
}

.homePage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.homePage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.homePage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.homePage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.navBar .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.homePage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.homePage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
}

.homePage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.homePage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.homePage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    transition: .3s;
}

.homePage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.homePage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.homePage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.homePage .navBar #profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: .3s;
    transform: translateX(-10px);
}

.homePage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.homePage .navBar #profileIcon svg {
    position: absolute;
    margin-left: -7px;
    transition: .3s;
    margin-top: 2px;
}

.homePage .navBar #profileIcon #profIconPicture {
    border-radius: 50%;
    filter: brightness(100%);
    margin-left: -11px;
    width: 44px;
    height: 44px;
    margin-top: -2px;
    user-select: none;
}

.homePage .navBar #profileIcon:hover svg {
    fill: white;
}

.homePage .header {
    height: 100vh;
    width: 100%;
    opacity: 10;
    animation: showHeader 1s both 0.4s;
}

.homePage .header .backGroundHeader {
    width: 100%;
    margin-left: 10px;
    height: 140%;
    background-image: linear-gradient(#080808, #242131);
    margin-top: -100px;
}

@keyframes showHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.homePage .header .explainationHeader {
    width: 600px;
    height: 280px;
    position: absolute;
    top: 300px;
    overflow: hidden;
    left: 40px;
    z-index: 10;
}

.homePage .header .backGroundImgHeader {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 80px;
    left: 15%;
}

.homePage .header .backGroundImgHeader ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homePage .header .backGroundImgHeader ul img {
    filter: brightness(75%);
}

.homePage .header .littleImageHeader ul img {
    filter: brightness(75%);
}

.homePage .header .littleImageHeader {
    width: 400px;
    height: 700px;
    position: absolute;
    top: 100px;
    left: 58%;
}

.homePage .header .littleImageHeader ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homePage .header .backGroundImgHeader ul li {
    display: inline-block;
    transition: 0.3s;
    list-style: none;
    margin-right: 70px;
}

.homePage .header .backGroundImgHeader ul li:nth-child(1) {
    margin-left: 0px;
    animation-name: identifier;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .backGroundImgHeader ul li:nth-child(2) {
    animation-name: fade2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .backGroundImgHeader ul li:nth-child(3) {
    animation-name: fade3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .backGroundImgHeader ul li:nth-child(4) {
    animation-name: fade4;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li {
    margin-bottom: 220px;
    transition: 0.3s;
    transform: translateY(160px);
    list-style: none;
}

.homePage .header .littleImageHeader ul li:nth-child(1) {
    animation-name: identifier3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li:nth-child(2) {
    animation-name: littleImagefade2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li:nth-child(3) {
    animation-name: littleImagefade3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .littleImageHeader ul li:nth-child(4) {
    animation-name: littleImagefade4;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .explainationHeader ul li {
    list-style: none;
    color: rgb(226, 226, 226);
    margin-bottom: 50px;
    transform: translateX(70px);
    margin: 20px;
    width: 330px;
    transition: 0.3s;
    display: inline-block;
    transition: 0.3s;
}

.homePage .header .explainationHeader ul li:nth-child(1) {
    margin-left: -1150;
    animation-name: identifier2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .explainationHeader ul li h2 {
    font-family: regularFont;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: white;
    margin-top: 40px;
}

.homePage .header .explainationHeader ul li p {
    font-family: regularFont;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.8);
    color: rgb(194, 194, 194);
    margin-top: 40px;
}

.homePage .header .explainationHeader ul li:nth-child(2) {
    animation-name: explainationfade2;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.homePage .header .explainationHeader ul li:nth-child(3) {
    animation-name: explainationfade3;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    opacity: 0;
}

.homePage .header .explainationHeader ul li:nth-child(4) {
    animation-name: explainationfade4;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes identifier {
    0% {
        margin-left: 0px;
        opacity: 1;
    }

    5% {
        margin-left: 0px;
        opacity: 1;

    }

    10% {
        margin-left: -420px;
        opacity: 0;

    }

    30% {
        margin-left: -420px;
        opacity: 0;

    }

    35% {
        margin-left: -920px;
        opacity: 0;

    }

    65% {
        margin-left: -920px;
        opacity: 0;

    }

    70% {
        margin-left: -1490px;
        opacity: 0;

    }

    100% {
        margin-left: -1490px;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    54% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    73% {
        opacity: 1;
    }

    100% {
        opacity: 1
    }
}

@keyframes identifier2 {
    0% {
        margin-left: -1150px;
        opacity: 0;
    }

    5% {
        margin-left: -1150px;
        opacity: 0;
    }

    10% {
        margin-left: -780px;
        opacity: 0;
    }

    30% {
        margin-left: -780px;
        opacity: 0;
    }

    35% {
        margin-left: -400px;
        opacity: 0;
    }

    65% {
        margin-left: -400px;
        opacity: 0;
    }

    70% {
        margin-left: 0px;
        opacity: 1;
    }

    100% {
        margin-left: 0px;
        opacity: 1;

    }
}


@keyframes explainationfade2 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    16% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    64% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes explainationfade3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes explainationfade4 {
    0% {
        opacity: 1;
    }

    4% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    73% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes identifier3 {
    0% {
        margin-top: -0px;
        opacity: 1;
    }

    5% {
        margin-top: -0px;
        opacity: 1;
    }

    10% {
        margin-top: -600px;
        opacity: 0;
    }

    30% {
        margin-top: -600px;
        opacity: 0;
    }

    35% {
        margin-top: -1100px;
        opacity: 0;
    }

    65% {
        margin-top: -1100px;
        opacity: 0;
    }

    70% {
        margin-top: -1710px;
        opacity: 0;
    }

    100% {
        margin-top: -1710px;
        opacity: 0;
    }
}

@keyframes littleImagefade2 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    64% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes littleImagefade3 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes littleImagefade4 {
    0% {
        opacity: 0;
    }

    4% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    68% {
        opacity: 0;
    }

    73% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.homePage .section {
    width: 100.8%;
    height: auto;
}



.homePage .section .homePageShelvesBooksListText p {
    font-family: regularFont;
    color: white;
    font-size: 2em;
    user-select: none;
    margin-left: 40%;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .homePageShelvesBooksListText p span {
    font-family: regularFont;
    color: rgb(209, 209, 209);
    user-select: none;
    font-size: .7em;
}

.homePage .section .homePageShelvesBooksList {
    width: 90%;
    height: 160px;
    background-color: #29253d;
    border-radius: 10px;
    border: 4px solid rgb(48, 36, 68);
}

.homePage .section .homePageShelvesBooksListText {
    transform: translateY(50px);
}

.homePage .section .recommendedBookListTitle {
    margin-top: 140px;
}

.homePage .section .recommendedBookListTitle p {
    color: white;
    font-family: regularFont;
    user-select: none;
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .recommendedBookList {
    height: 100vh;
    background-color: #29253d;
    border-radius: 10px;
    border: 4px solid rgb(48, 36, 68);
}

.homePage .section .homePageGenersTitle p {
    color: white;
    font-family: regularFont;
    text-align: center;
    user-select: none;
    font-size: 2em;
    margin-top: 60px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .homePageGenersExplanation {
    height: 280px;
    z-index: 10;
}

.homePage .section .homePageGenersImage {
    height: 280px;
}

.homePage .section .homePageGenersExplanation p {
    color: rgb(224, 224, 224);
    font-family: regularFont;
    font-size: 1.3em;
    user-select: none;
    margin-top: 60px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .homePageGenersImage img {
    width: 94%;
    height: 450px;
    margin-top: -50px;
}

.homePage .section .homePageGenersExplanation button {
    background-color: transparent;
    border: 2px solid rgb(221, 221, 221);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: rgb(221, 221, 221);
    font-family: regularFont;
    transition: 0.3s;
}

.homePage .section .homePageGenersExplanation button:hover {
    background-color: rgb(221, 221, 221);
    color: #3F2E3E;
}

.homePage .section .writersPannelTitle p {
    color: white;
    font-family: regularFont;
    text-align: center;
    font-size: 2em;
    user-select: none;
    margin-top: 200px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
}

.homePage .section .writersPannelExplanation {
    height: 380px;
    margin-top: 30px;
    z-index: 10;
}

.homePage .section .writersPannelImage {
    height: 380px;
    margin-top: 30px;
    z-index: 10;
}

.homePage .section .writersPannelImage img {
    width: 100%;
    height: 480px;
    user-select: none;
}

.homePage .section .writersPannelExplanation p {
    color: rgb(224, 224, 224);
    font-family: regularFont;
    font-size: 1.3em;
    text-align: center;
    margin-top: 110px;
    text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.7);
    user-select: none;
}

.homePage .section .writersPannelExplanation button {
    background-color: transparent;
    border: 2px solid rgb(221, 221, 221);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: rgb(221, 221, 221);
    font-family: regularFont;
    transition: 0.3s;
    float: right;
}

.homePage .section .writersPannelExplanation button:hover {
    background-color: rgb(221, 221, 221);
    color: #3F2E3E;
}

.homePage .section .footer {
    height: 500px;
    width: 100%;
}

.homePage .section .footer .backGroundFooter {
    width: 101%;
    height: 150%;
    margin-top: -250px;
    background: linear-gradient(#242131, #000000);
}

.homePage .section .footer #goUpBtn {
    float: right;
    cursor: pointer;
    margin-top: -90px;
    transform: translateX(-30px);
    transition: 0.3s;
    border-radius: 10px;
}

.homePage .section .footer #goUpBtn a {
    text-decoration: none;
}

.homePage .section .footer #goUpBtn a svg {
    fill: rgb(70, 70, 70);
    transition: 0.3s;
}

.homePage .section .footer #goUpBtn:hover svg {
    fill: rgb(170, 170, 170);
    border-radius: 5px;
}

.homePage .section .footer .footerLogo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    user-select: none;
    margin-top: -100px;
    filter: brightness(80%);
}

.homePage .section .footer .quill {
    width: 170px;
    height: 170px;
    position: absolute;
    user-select: none;
    left: 16%;
    margin-top: -210px;
    filter: brightness(80%);
}

.homePage .section .footer ul {
    position: absolute;
    left: 7%;
    margin-top: -88px;
}

.homePage .section .footer ul li {
    list-style: none;
    font-family: bookyFont;
    font-size: 1.2em;
    user-select: none;
    line-height: 20px;
    color: rgb(173, 173, 173);
}

.homePage .section .footer .footerLsOne {
    position: absolute;
    left: 64%;
    margin-top: -168px;
}

.homePage .section .footer .footerLsTwo {
    position: absolute;
    left: 74%;
    margin-top: -168px;
}

.homePage .section .footer .footerLsOne li {
    list-style: none;
    margin-top: 15px;
}

.homePage .section .footer .footerLsOne li a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-family: regularFont;
    transition: 0.3s;
    font-size: 1.2em;
}

.homePage .section .footer .footerLsOne li a:hover {
    color: white;
}

.homePage .section .footer .footerLsTwo li {
    list-style: none;
    margin-top: 15px;
}

.homePage .section .footer .footerLsTwo li a {
    text-decoration: none;
    transition: 0.3s;
    color: rgb(197, 197, 197);
    font-family: regularFont;
    font-size: 1.2em;
}

.homePage .section .footer .footerLsTwo li a:hover {
    color: white;
}


.homePage .section .footer .footerLsFirst {
    position: absolute;
    left: 53%;
    margin-top: -168px;
}

.homePage .section .footer .footerLsFirst li {
    list-style: none;
    margin-top: 15px;
}

.homePage .section .footer .footerLsFirst li a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-family: regularFont;
    transition: 0.3s;
    font-size: 1.2em;
}

body .section .footer .footerLsFirst li a:hover {
    color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1a1724;
}

body::-webkit-scrollbar-thumb {
    background: #282535;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.homePage .section .searchPnl {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-left: 10px;
    background-color: #363249;
    margin-top: -200vh;
    z-index: 20;
    opacity: 0;
    transition: 0.3s;
    overflow: auto;
}

.homePage .section .searchPnl #searchPnlCloseBtn{
    position: absolute;
    left: 96%;
    top: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 99999999;
}

.homePage .section .searchPnl #searchPnlCloseBtn:hover{
    fill:#c2bcdd;
}

.homePage .section .searchPnl .firstList{
    position: absolute;
    top: 358px;
    left: 40px;
    width: 95%;
    height: 290px;
    z-index: 100;
    margin-top: -260px
}

.homePage .section .searchPnl .firstList li{
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 90px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0,0,0,0.4);
    transition: 0.6s;
}

.homePage .section .searchPnl .firstList li:hover{
    transform: skewY(5deg) rotateY(15deg);
    transform-style: preserve-3d;
    filter: brightness(110%);

}

.homePage .section .searchPnl .firstList li .books{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #2e3047;
    animation-name: loadingBooks;
    animation-duration: 2s;
    animation-fill-mode:forwards ;
    animation-iteration-count: infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes loadingBooks {
    0%{background-color: #2e3047;}
    30%{background-color: #2e3047;}
    50%{background-color: #3c3e57;}
    80%{background-color: #2e3047;}
    100%{background-color: #2e3047;}
}

.homePage .section .searchPnl::-webkit-scrollbar {
    width: 10px;
}

.homePage .section .searchPnl::-webkit-scrollbar-track {
    background: #1a1724;
}

.homePage .section .searchPnl::-webkit-scrollbar-thumb {
    background: #282535;
}

.homePage .section .searchPnl::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bookCover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: brightness(100%);
    transition: 1s;
}

.bookTitle{
    position: relative;
    top: 107%;
    width: 200px;
    overflow: hidden;
    height: fit-content;
    opacity: 1;
    color: #abadce;
    font-family: regularFont;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}
.li{
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 120px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0,0,0,0.4);
    transition: 0.6s;
}