@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
}

.ProfPage {
    background-color: #242131;
    height: 100vh;
    scroll-behavior: smooth;
}

.ProfPage .navBar {
    height: 60px;
    z-index: 20;
}

.ProfPage .navBar div {
    display: inline;
    width: 300px;
}

.ProfPage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.ProfPage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.ProfPage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.ProfPage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    user-select: none;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.ProfPage .navBar .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.ProfPage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.ProfPage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
    user-select: none;
}

.ProfPage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.ProfPage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.ProfPage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    user-select: none;
    transition: .3s;
}

.ProfPage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.ProfPage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.ProfPage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.ProfPage .navBar #profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: .3s;
    left: 97%;
    top: 60px;
    position: absolute;
}

.ProfPage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.ProfPage .navBar #profileIcon svg {
    position: absolute;
    margin-left: -10px;
    transition: .3s;
}

.ProfPage .navBar #profileIcon:hover svg {
    fill: white;
}

.ProfPage .navBar #profileIcon #profIconPicture {
    position: absolute;
    left: -15px;
    top: -5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(100%);
    display: none;
    user-select: none;
}

.ProfPage .profilePictureBox {
    position: absolute;
    width: 290px;
    height: 280px;
    left: 7%;
    user-select: none;
    top: 120px;
}

.profPage .profilePictureBox img {
    position: relative;
    width: 100%;
    user-select: none;
    height: 100%;
    filter: brightness(90%);
}

.profPage .profilePictureBox #profilePicture {
    width: 80%;    
    user-select: none;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(to bottom right, rgb(170, 159, 136), rgb(192, 181, 165));
    position: absolute;
    left: 50%;
    user-select: none;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.3),
        inset -3px -3px 10px rgba(0, 0, 0, 0.2);
}

.profPage .profilePictureBox #profilePicture svg {
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    fill: rgb(107, 95, 74);
    fill: rgb(112, 101, 82);
}

.profPage .profilePictureBox #profilePicture input {
    position: absolute;
    top: 90px;
    left: 840px;
    opacity: 0;
    transform: scale(8);
    z-index: 1000;
}

.profPage .profilePictureBox #profilePicture input::-webkit-file-upload-button {
    cursor: pointer;
}

.profPage .profilePictureBox #profilePicture #imgProf {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
    filter: brightness(100%);
}

.profPage .profilePictureBox #profilePicture #imgProfDirty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    user-select: none;
    display: none;
    filter: brightness(100%);
    z-index: 100;
    border: 3px solid rgb(112, 101, 82);
}

.profPage #usernameTxt {
    position: absolute;
    left: 8%;
    user-select: none;
    top: 70%;
    font-family: regularFont;
    color: rgb(224, 224, 224);
    font-size: 1.4em;
}

.profPage #idTxt {
    position: absolute;
    left: 8%;
    top: 77%;
    user-select: none;
    font-family: regularFont;
    color: rgb(224, 224, 224);
    font-size: 1.4em;
}

.profPage #profEditBtn {
    position: absolute;
    left: 8%;
    user-select: none;
    top: 89%;
    width: 110px;
    background-color: #242131;
    height: 40px;
    border: 2px solid rgb(192, 181, 165);
    font-family: regularFont;
    border-radius: 5px;
    color: rgb(230, 230, 230);
    transition: 0.3s;
}

.profPage #profEditBtn:hover {
    background-color: rgb(192, 181, 165);
    color: #242131;
}

.profPage .backgroundPic1{
    width: 600px;
    user-select: none;
    height: 400px;
    filter: brightness(60%);
    position: absolute;
    left: 51%;
    top: 32%;
}

.profPage .backgroundPic2{
    width: 200px;
    height: 200px;
    filter: brightness(80%);
    position: absolute;
    left: 77%;
    user-select: none;
    top: 27%;
    cursor: pointer;
    transition: 0.2s;
}

.profPage .backgroundPic2:hover{
    filter: brightness(70%);
}

.profPage .backgroundPic3{
    width: 130px;
    height: 150px;
    filter: brightness(90%);
    position: absolute;
    left: 55%;
    top: 32%;
    user-select: none;
}

@keyframes burn {

    0%,
    100% {
        border-radius: 1.25% 61% 11.25% 61.25%;
        width: 4vmin;
    }

    10% {
        border-radius: 1.25% 61.25% 12.25% 60.5%;
    }

    20% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 4vmin;
    }

    30%,
    90% {
        border-radius: 1.25% 41.25% 12.25% 60.5%;
    }

    40% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 4vmin;
    }

    50% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
    }

    60% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }

    70% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
        width: 4vmin;
    }

    80% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }
}

.profPage .candleFire {
    animation: burn 4s infinite;
    width: 15vmin;
    margin-left: -200px;
    position: absolute;
    aspect-ratio: 1;    
    user-select: none;
    background:
        radial-gradient(100% 100% at 90% 90%, #251c27, #251c2733 20%, #251c2700 50%),
        radial-gradient(farthest-side at 110% 120%, #251c27, rgb(114, 40, 17), #cb6c3b88, #0000),
        radial-gradient(at 100% 100%, #fc08, #cb6c3b, #eebd7600 60%),
        linear-gradient(135deg, #fff0 20%, #ff0);
    background-color: #ffe;
    border-radius: 2% 87% 45% 85%;
    box-shadow: inset 2vmin 2vmin 2vmin -1.5vmin #f808,
        inset -1vmin -1vmin 5vmin -3vmin #00f7,
        inset 0vmin -1vmin 5vmin -3vmin #00f8,
        inset -1vmin -1vmin 2vmin -2vmin #251c27,
        inset -1vmin -1vmin 3vmin -1vmin #251c27,
        inset -1vmin -1vmin 2vmin #fc08,
        -0.5vmin -0.5vmin 1vmin #ff08,
        -1vmin -1vmin 2vmin #ce8c47,
        -2vmin -2vmin 10vmin 1vmin #251c27,
        -6vmin -6vmin 35vmin 3vmin #fa06;
    filter: blur(0.2vmin);
    transform: rotate(45deg);
    position: absolute;
    left: 73.3%;
    top: 35.5%;
}

.profPage .backgroundPic4{
    width: 160px;
    height: 70px;
    filter: brightness(90%);
    position: absolute;
    left: 63%;
    user-select: none;
    top: 47%;
    transform-style: preserve-3d;
    transform-origin: top;
    transform: skew(40deg, -5deg);
    cursor: pointer;   
    transition: 0.2s;
}

.profPage #bookChallengeTxt{
    font-family: regularFont;
    color: black;
    position: absolute;
    left: 66.5%;
    top: 49.5%;
    transform-style: preserve-3d;
    transform-origin: top;
    user-select: none;
    transform: skew(40deg, -5deg);
    font-size: .8em;
    user-select: none;
    text-align: center;
    cursor: pointer;
    filter: brightness(100%);    
}

.profPage .shelvesBox{
    width: 240px;
    user-select: none;
    height: 210px;
    position: absolute;
    left: 30%;
    top: 430px;
}

.profPage .shelvesBox li{
    position: relative;
    width: 100%;
    user-select: none;
    height: 40px;
    font-family: regularFont;
    padding-top: 5px;
    background: linear-gradient(to bottom right, rgb(170, 159, 136), rgb(192, 181, 165));
    text-align: center;
    border-bottom: 2px solid rgb(126, 119, 105);
    cursor: pointer;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    font-weight: bold;
}

.profPage .shelvesBox li:last-child{
    background-color: transparent;
    opacity: 0.6;
}

.profPage .shelvesBox li:last-child svg{
    opacity: 1;
    left: 43%;
    margin-top: -3px;
    text-align: center;
    user-select: none;
}

.profPage .shelvesBox li:last-child:hover svg{
    opacity: 1;
    left: 43%;
    margin-top: -3px;
    text-align: center;   
}

.profPage .shelvesBox li:last-child:hover{
    margin-left: 20px;
}

.profPage .shelvesBox li svg{
    position: absolute;
    left: 6%;
    opacity: 0;
    transition: 0.2s;
    margin-top: 3px;    
    user-select: none;
}

.profPage .shelvesBox li:hover svg{
    position: absolute;
    left: 6%;
    opacity: 1;
    transition: 0.2s;
    margin-top: 3px;    
}


.profPage .shelvesBox li:hover{
    margin-left: -20px;
}

.profPage .shelvesTitle{
    font-family: regularFont;
    color: rgb(228, 228, 228);
    font-size: 1.5em;
    position: absolute;
    left: 31%;
    top: 360px;
}

.profPage #checkingUsersAccountPage{
    position: absolute;
    width: 100%;
    height: 88vh;
    margin-top: 1px;
    background-color: #242131;
    display: block;
}

.profPage #checkingUsersAccountPage p{
    font-family: regularFont;
    color: #ececec;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    left: 40%;
    top: 30%;
    margin-top: 100px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 1.2s;
    animation-fill-mode: both;
} 

.profPage #checkingUsersAccountPage a{
    text-decoration: none;
    font-family: regularFont;
    color: #b6b6b6;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    left: 48%;
    top: 60%;
    transition: 0.2s;
    margin-top: 100px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

.profPage #checkingUsersAccountPage a:hover{
    color: #ececec;
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        margin-top: 100px;

    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

.profPage #gramophoneAudio{
    z-index: 100;
    margin-left: 300px;
    opacity: 0;
}