@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

@font-face {
    font-family: fontAwesome;
    src: url(assets/font-awesome-4.7.0/fonts/FontAwesome.otf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
}

.ProfPage {
    background-color: #242131;
    height: fit-content;
    scroll-behavior: smooth;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1a1724;
}

body::-webkit-scrollbar-thumb {
    background: #282535;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ProfPage .navBar {
    height: 60px;
    width: 100.9%;
    z-index: 25;
    position: fixed;
    transition: 0.4s;
}

.ProfPage .navBar div {
    display: inline;
    width: 300px;
}

.ProfPage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.ProfPage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.ProfPage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.ProfPage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    user-select: none;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.ProfPage .navBar .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.ProfPage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.ProfPage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
    user-select: none;
}

.ProfPage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.ProfPage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.ProfPage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    user-select: none;
    transition: .3s;
}

.ProfPage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.ProfPage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.ProfPage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.ProfPage .navBar #profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: .3s;
    left: 96%;
    top: 60px;
    position: absolute;
}

.ProfPage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.ProfPage .navBar #profileIcon svg {
    position: absolute;
    margin-left: -5px;
    transition: .3s;
    margin-top: 7px;
}

.ProfPage .navBar #profileIcon:hover svg {
    fill: white;
}

.ProfPage .navBar #profileIcon #profIconPicture {
    position: absolute;
    left: -15px;
    top: -5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(100%);
    display: none;
    user-select: none;
}

.ProfPage .navBar #bookPannelCloseBtn {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 94%;
    top: 140px;
    z-index: 999999999;
    display: none;
}

.ProfPage .navBar #bookPannelCloseBtn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.4s;
}

.ProfPage .profilePictureBox {
    position: absolute;
    width: 290px;
    height: 280px;
    left: 7%;
    user-select: none;
    top: 120px;
    z-index: 10;
}

.profPage .profilePictureBox img {
    position: relative;
    width: 100%;
    user-select: none;
    height: 100%;
    filter: brightness(90%);
}

.profPage .profilePictureBox #profilePicture {
    width: 80%;
    user-select: none;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(to bottom right, rgb(170, 159, 136), rgb(192, 181, 165));
    position: absolute;
    left: 50%;
    user-select: none;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.3),
        inset -3px -3px 10px rgba(0, 0, 0, 0.2);
}

.profPage .profilePictureBox #profilePicture svg {
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    fill: rgb(107, 95, 74);
    fill: rgb(112, 101, 82);
}

.profPage .profilePictureBox #profilePicture input {
    position: absolute;
    top: 90px;
    left: 840px;
    opacity: 0;
    transform: scale(8);
    z-index: 1000;
}

.profPage .profilePictureBox #profilePicture input::-webkit-file-upload-button {
    cursor: pointer;
}

.profPage .profilePictureBox #profilePicture #imgProf {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
    filter: brightness(100%);
}

.profPage .profilePictureBox #profilePicture #imgProfDirty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    user-select: none;
    display: none;
    filter: brightness(100%);
    z-index: 100;
    border: 3px solid rgb(112, 101, 82);
}

.profPage #usernameTxt {
    position: absolute;
    left: 8%;
    user-select: none;
    top: 70%;
    font-family: regularFont;
    color: rgb(224, 224, 224);
    font-size: 1.4em;
    z-index: 10;

}

.profPage #idTxt {
    position: absolute;
    left: 8%;
    top: 77%;
    user-select: none;
    font-family: regularFont;
    color: rgb(224, 224, 224);
    font-size: 1.4em;
    z-index: 10;

}

.profPage #profEditBtn {
    position: absolute;
    left: 8%;
    user-select: none;
    top: 89%;
    width: 110px;
    background-color: #242131;
    height: 40px;
    border: 2px solid rgb(192, 181, 165);
    font-family: regularFont;
    border-radius: 5px;
    color: rgb(218, 205, 186);
    transition: 0.3s;
    z-index: 10;

}

.profPage #profEditBtn:hover {
    background-color: rgb(192, 181, 165);
    color: #242131;
}

.profPage .backgroundPic1 {
    width: 600px;
    user-select: none;
    height: 400px;
    filter: brightness(60%);
    position: absolute;
    left: 51%;
    top: 32%;
    z-index: 10;

}

.profPage .backgroundPic2 {
    width: 200px;
    height: 200px;
    filter: brightness(80%);
    position: absolute;
    left: 77%;
    user-select: none;
    top: 27%;
    cursor: pointer;
    transition: 0.2s;
    z-index: 10;
}

.profPage .backgroundPic2:hover {
    filter: brightness(70%);
}

.profPage .backgroundPic3 {
    width: 130px;
    height: 150px;
    filter: brightness(90%);
    position: absolute;
    left: 55%;
    top: 32%;
    user-select: none;
    z-index: 10;

}

@keyframes burn {

    0%,
    100% {
        border-radius: 1.25% 61% 11.25% 61.25%;
        width: 4vmin;
    }

    10% {
        border-radius: 1.25% 61.25% 12.25% 60.5%;
    }

    20% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 4vmin;
    }

    30%,
    90% {
        border-radius: 1.25% 41.25% 12.25% 60.5%;
    }

    40% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 4vmin;
    }

    50% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
    }

    60% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }

    70% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
        width: 4vmin;
    }

    80% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }
}

.profPage .candleFire {
    animation: burn 4s infinite;
    width: 15vmin;
    margin-left: -200px;
    position: absolute;
    aspect-ratio: 1;
    user-select: none;
    background:
        radial-gradient(100% 100% at 90% 90%, #251c27, #251c2733 20%, #251c2700 50%),
        radial-gradient(farthest-side at 110% 120%, #251c27, rgb(114, 40, 17), #cb6c3b88, #0000),
        radial-gradient(at 100% 100%, #fc08, #cb6c3b, #eebd7600 60%),
        linear-gradient(135deg, #fff0 20%, #ff0);
    background-color: #ffe;
    border-radius: 2% 87% 45% 85%;
    box-shadow: inset 2vmin 2vmin 2vmin -1.5vmin #f808,
        inset -1vmin -1vmin 5vmin -3vmin #00f7,
        inset 0vmin -1vmin 5vmin -3vmin #00f8,
        inset -1vmin -1vmin 2vmin -2vmin #251c27,
        inset -1vmin -1vmin 3vmin -1vmin #251c27,
        inset -1vmin -1vmin 2vmin #fc08,
        -0.5vmin -0.5vmin 1vmin #ff08,
        -1vmin -1vmin 2vmin #ce8c47,
        -2vmin -2vmin 10vmin 1vmin #251c27,
        -6vmin -6vmin 35vmin 3vmin #fa06;
    filter: blur(0.2vmin);
    transform: rotate(45deg);
    position: absolute;
    left: 73.3%;
    top: 35.5%;
    z-index: 10;

}

.profPage .backgroundPic4 {
    width: 160px;
    height: 70px;
    filter: brightness(90%);
    position: absolute;
    left: 63%;
    user-select: none;
    top: 47%;
    z-index: 10;
    transform-style: preserve-3d;
    transform-origin: top;
    transform: skew(40deg, -5deg);
    cursor: pointer;
    transition: 0.2s;
}

.profPage #bookChallengeTxt {
    font-family: regularFont;
    color: black;
    position: absolute;
    left: 66.5%;
    top: 49.5%;
    transform-style: preserve-3d;
    transform-origin: top;
    user-select: none;
    transform: skew(40deg, -5deg);
    font-size: .8em;
    user-select: none;
    text-align: center;
    cursor: pointer;
    z-index: 10;

    filter: brightness(100%);
}

.profPage .shelvesBox {
    width: 322px;
    user-select: none;
    height: 140px;
    z-index: 10;
    position: absolute;
    left: 8%;
    top: 116vh;
    overflow-y: auto;
}

.profPage .shelvesBox::-webkit-scrollbar {
    width: 5px;
}

.profPage .shelvesBox::-webkit-scrollbar-track {
    background: #1a1724;
}

.profPage .shelvesBox::-webkit-scrollbar-thumb {
    background: #282535;
}

.profPage .shelvesBox::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.profPage .shelvesBox li {
    position: relative;
    width: 96%;
    user-select: none;
    height: 40px;
    padding-top: 5px;
    z-index: 10;
    background-color: #242131;
    text-align: center;
    border: 2px solid rgba(192, 181, 165, 0.726);
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;
    list-style: none;
    font-family: regularFont;
    color: rgb(230, 230, 230);
    font-weight: bold;
}

.shelfLi {
    position: relative;
    width: 80%;
    user-select: none;
    height: 40px;
    padding-top: 5px;
    z-index: 10;
    background-color: #242131;
    text-align: center;
    border: 2px solid rgba(192, 181, 165, 0.726);
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;
    list-style: none;
    font-family: regularFont;
    color: rgb(230, 230, 230);
    font-weight: bold;

}

.profPage .shelvesBox li p {
    font-family: regularFont;
    color: rgb(192, 181, 165);
    font-weight: bold;
    transition: 0.4s;
}

.shelfPara {
    font-family: regularFont;
    color: rgb(192, 181, 165);
    font-weight: bold;
    transition: 0.4s;
}

.shelfPara:hover {
    color: #242131;
}

.shelfSvg {
    position: absolute;
    left: 90%;
    opacity: 0;
    transition: 0.2s;
    user-select: none;
    transform: translateY(-40px);
}

.shelfLi:hover .shelfSvg {
    position: absolute;
    left: 90%;
    opacity: 1;
    transition: 0.2s;
    margin-top: 3px;
}

.shelfLi:hover {
    background-color: rgb(192, 181, 165);
    color: #242131;
}

.shelfTitle {
    font-family: regularFont;
    color: rgb(228, 228, 228);
    font-size: 1.7em;
    position: absolute;
    left: 8%;
    z-index: 10;
    top: 690px;
}

.profPage .shelvesBox li:hover p {
    color: #242131;
}

#addShelfBtn {
    background-color: transparent;
    opacity: 0.6;
    position: absolute;
    left: 10.3%;
    top: 137vh;
    width: 280px;
    user-select: none;
    height: 40px;
    padding-top: 5px;
    z-index: 10;
    background-color: #242131;
    text-align: center;
    border: 2px solid rgba(192, 181, 165, 0.726);
    border-radius: 3px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.2s;
    list-style: none;
    font-family: regularFont;
    color: rgb(230, 230, 230);
    font-weight: bold;
}

#addShelfBtn:hover {
    background-color: rgb(192, 181, 165);
    color: #242131;
}

#addShelfBtn svg {
    opacity: 1;
    left: 43%;
    margin-top: -3px;
    text-align: center;
    user-select: none;
}

#addShelfBtn:hover svg {
    opacity: 1;
    left: 43%;
    margin-top: -3px;
    text-align: center;
}

#addShelfBtn:hover {
    margin-left: 20px;
}

.profPage .shelvesBox li svg {
    position: absolute;
    left: 90%;
    opacity: 0;
    transition: 0.2s;
    margin-top: 3px;
    user-select: none;
}

.profPage .shelvesBox li:hover svg {
    position: absolute;
    left: 90%;
    opacity: 1;
    transition: 0.2s;
    margin-top: 3px;
}

.profPage .shelvesBox li:hover {
    background-color: rgb(192, 181, 165);
    color: #242131;
}

.profPage .shelvesTitle {
    font-family: regularFont;
    color: rgb(228, 228, 228);
    font-size: 1.7em;
    position: absolute;
    left: 8%;
    z-index: 10;
    top: 690px;
}

.profPage #checkingUsersAccountPage {
    position: absolute;
    width: 100%;
    height: 90vh;
    margin-top: -50px;
    background-image: linear-gradient(#0c0c0c, #242131);
    display: block;
    opacity: 1;
    z-index: 20;
}

.profPage #checkingUsersAccountPage p {
    font-family: regularFont;
    color: #ececec;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    left: 40%;
    top: 40%;
    margin-top: 100px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

.profPage #checkingUsersAccountPage a {
    text-decoration: none;
    font-family: regularFont;
    color: #b6b6b6;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    left: 48%;
    top: 52%;
    transition: 0.2s;
    margin-top: 100px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

.profPage #checkingUsersAccountPage a:hover {
    color: #ececec;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        margin-top: 100px;

    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

.profPage #gramophoneAudio {
    z-index: 100;
    margin-left: 300px;
    opacity: 0;
}

.profPage .coverPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background-color: #242131;
    z-index: 9000;
    opacity: 0;
    transition: 0.3s;
    display: none;
}

.profPage #editBox {
    width: 35%;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #363347;
    border-radius: 10px;
    border: 2px solid rgb(85, 76, 102);
    z-index: 9999;
    overflow: hidden;
    opacity: 0;
    display: none;
    transition: 0.3s;
}

.profPage #editBox p {
    font-family: regularFont;
    font-weight: bold;
}

.profPage #editBox p:nth-child(1) {
    color: rgb(236, 236, 236);
    font-size: 1.3em;
    margin: 30px;
}

.profPage #editBox p:nth-child(2) {
    color: rgb(175, 175, 175);
    font-size: 1.1em;
    margin: 30px;
    margin-top: 70px;
    margin-left: 50px;
}

.profPage #editBox #usernameEditInput {
    background-color: transparent;
    margin-top: -59px;
    margin-left: 160px;
    border: none;
    outline: none;
    font-weight: bold;
    border-bottom: 2px solid rgb(121, 121, 121);
    color: rgb(175, 175, 175);
    font-family: regularFont;
}

.profPage #editBox p:nth-child(4) {
    color: rgb(175, 175, 175);
    font-size: 1.1em;
    margin: 30px;
    margin-top: -10px;
    margin-left: 50px;
}

.profPage #pictureEditInput {
    background-color: transparent;
    margin-top: 19px;
    margin-left: 160px;
    border: none;
    outline: none;
    font-weight: bold;
    border-bottom: 2px solid rgb(121, 121, 121);
    color: rgb(175, 175, 175);
    font-family: regularFont;
    opacity: 0;
}

.profPage #pictureEdit {
    width: 200px;
    height: 30px;
    margin-top: -59px;
    margin-left: 130px;
}

.profPage #pictureEdit input {
    margin: 100px;
}

.profPage #pictureEdit label {
    margin-top: -230px;
    margin-left: 0px;
    color: rgb(175, 175, 175);
    font-size: 1.1em;
    font-family: regularFont;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.profPage #pictureEdit label:hover {
    color: rgb(209, 209, 209);
}

.profPage #editBox button {
    position: absolute;
    left: 72%;
    top: 82%;
    background: transparent;
    border: 2px solid rgb(127, 119, 143);
    transition: .2s;
    font-family: regularFont;
    color: rgb(147, 139, 163);
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
}

.profPage #editBox button:hover {
    background-color: rgb(127, 119, 143);
    color: #363347;
}

.profPage #editBox #deleteAccountTxt {
    cursor: pointer;
    margin-top: 130px;
    margin-left: 0px;
    color: rgb(175, 175, 175);
    font-size: 1.1em;
    font-family: regularFont;
    font-weight: bold;
    margin-left: 50px;
    width: 130px;
    transition: 0.3s;
}

.profPage #editBox #deleteAccountTxt:hover {
    color: rgb(209, 209, 209);
}

.profPage #messageText {
    position: absolute;
    top: -30px;
    left: 200px;
    color: white;
    font-family: regularFont;
    font-weight: bold;
    color: #e6e6e6;
    font-size: 1.1em;
    opacity: 0;
    z-index: 999999;
}

.msgBoxfadeUpDown {
    animation-name: msgBoxfadeUpDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes msgBoxfadeUpDown {
    0% {
        opacity: 0;
        top: -30px
    }

    15% {
        opacity: 1;
        top: 60px
    }

    80% {
        opacity: 1;
        top: 60px
    }

    100% {
        opacity: 0;
        top: -30px
    }
}

.profPage .searchPnl {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    background-color: #363249;
    margin-top: -200vh;
    z-index: 24;
    opacity: 0;
    transition: 0.3s;
    overflow: auto;
}

.profPage .searchPnl #searchPnlCloseBtn {
    position: fixed;
    left: 96%;
    top: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 99999999;
}

.profPage .searchPnl #searchPnlCloseBtn:hover {
    fill: #c2bcdd;
}

.profPage .searchPnl .secondetList {
    position: absolute;
    top: 358px;
    left: 40px;
    width: 95%;
    height: 290px;
    z-index: 100;
    margin-top: -260px
}

.profPage .searchPnl .secondetList li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 110px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.profPage .searchPnl .secondetList li:hover {
    transform: skewY(5deg) rotateY(15deg);
    transform-style: preserve-3d;
    filter: brightness(110%);

}

.profPage .searchPnl .secondetList li .books {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #2e3047;
    animation-name: loadingBooks;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes loadingBooks {
    0% {
        background-color: #2e3047;
    }

    30% {
        background-color: #2e3047;
    }

    50% {
        background-color: #3c3e57;
    }

    80% {
        background-color: #2e3047;
    }

    100% {
        background-color: #2e3047;
    }
}

.profPage .searchPnl::-webkit-scrollbar {
    width: 10px;
}

.profPage .searchPnl::-webkit-scrollbar-track {
    background: #1a1724;
}

.profPage .searchPnl::-webkit-scrollbar-thumb {
    background: #282535;
}

.profPage .searchPnl::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bookCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: brightness(100%);
    transition: 1s;
}

.bookCode {
    position: relative;
    top: 50%;
    width: 200px;
    overflow: hidden;
    height: fit-content;
    opacity: 1;
    color: #abadce;
    font-family: regularFont;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    opacity: 0;
}

.bookTitle {
    position: relative;
    top: 100%;
    width: 200px;
    overflow: hidden;
    margin-top: 12px;
    height: fit-content;
    opacity: 1;
    color: #abadce;
    font-family: regularFont;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 90px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.profPage #messageBox {
    position: absolute;
    left: 17%;
    top: -10%;
    color: white;
    font-family: regularFont;
    color: rgb(223, 222, 222);
    transition: 0.3s;
    font-weight: bold;
    opacity: 1;
    user-select: none;
}

.messageBoxFadeInOut {
    animation-name: fadeMessageBox;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes fadeMessageBox {
    0% {
        top: -10%;
    }

    10% {
        top: 10%;
    }

    50% {
        top: 10%;
    }

    90% {
        top: 10%;
    }

    100% {
        top: -10%;
    }
}

.profPage .backGroundHeader {
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0%;
    z-index: 0;
    left: 0%;
    background-image: linear-gradient(#080808, #242131);
}

/* about any book pannel */

.profPage .bookPannel {
    position: fixed;
    width: 100%;
    margin-top: -10px;
    height: 108vh;
    background-color: #242131;
    z-index: 23;
    overflow-y: auto;
    display: block;
    transition: 0.6s;
    opacity: 0;
    transform: translateX(-100%);
}

.profPage .bookPannel::-webkit-scrollbar {
    width: 10px;
}

.profPage .bookPannel::-webkit-scrollbar-track {
    background: #1a1724;
}

.profPage .bookPannel::-webkit-scrollbar-thumb {
    background: #282535;
}

.profPage .bookPannel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.profPage .bookPannel .backgroundBookImg {
    position: absolute;
    width: 100%;
    height: 650px;
    margin-top: -60px;
    filter: brightness(15%);
    user-select: none;
    transition: 0.8s;
}

.profPage .bookPannel .backgroundBookImgCover {
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0), #242131);
    top: 390px;
}

.profPage .bookPannel .BookImg {
    position: absolute;
    width: 360px;
    height: 460px;
    margin-top: 120px;
    filter: brightness(100%);
    user-select: none;
    z-index: 20;
    margin-left: 80px;
    box-shadow: 20px 25px 25px rgba(0, 0, 0, 0.4);
    transition: 0.8s;
    opacity: 0;
    border-radius: 4px;
}

.profPage .bookPannel ul {
    position: absolute;
    left: 58%;
    top: 280px;
}

.profPage .bookPannel ul li {
    margin-top: 20px;
    width: 400px;
    list-style: none;
}

.profPage .bookPannel ul li h2 {
    color: white;
    font-family: regularFont;
    font-weight: bold;
    font-size: 2.4em;
    opacity: 1;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    user-select: none;
    transition: 0.8s;
}

.profPage .bookPannel ul li p {
    color: rgb(185, 185, 185);
    font-family: regularFont;
    font-weight: bold;
    font-size: 1.2em;
    opacity: 1;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    user-select: none;
    transition: 0.8s;
}

.profPage .bookPannel #addBookBtn {
    width: 170px;
    height: 50px;
    position: absolute;
    left: 36%;
    font-weight: bold;
    top: 530px;
    font-family: regularFont;
    background-color: #242131;
    border: 2px solid rgb(216, 216, 216);
    color: rgb(216, 216, 216);
    border-radius: 4px;
    transition: 0.3s;
}

.profPage .bookPannel #addBookBtn:hover {
    background-color: rgb(216, 216, 216);
    color: #242131;
}

.profPage .bookPannel .aboutBook {
    position: absolute;
    width: 77%;
    height: 300px;
    top: 105vh;
    margin-left: 80px;
}

.profPage .bookPannel .aboutBook h3 {
    font-family: regularFont;
    color: rgb(235, 235, 235);
    font-weight: bold;
}

.profPage .bookPannel .aboutBook p {
    font-family: regularFont;
    color: rgb(160, 160, 160);
    margin-left: 20px;
    margin-top: 25px;
    line-height: 26px;
}

.profPage .bookPannel .aboutAuthor {
    position: absolute;
    width: 700px;
    height: 300px;
    top: 137vh;
    margin-left: 80px;
}

.profPage .bookPannel .aboutAuthor h3 {
    font-family: regularFont;
    color: rgb(235, 235, 235);
    font-weight: bold;
    user-select: none;
}

.profPage .bookPannel .aboutAuthor p {
    font-family: regularFont;
    color: rgb(160, 160, 160);
    margin-left: 20px;
    margin-top: 25px;
    line-height: 26px;
}

.profPage .bookPannel .aboutAuthor #otherAuthorWorkBtn {
    width: 120px;
    height: 40px;
    margin-left: 20px;
    font-weight: bold;
    font-family: regularFont;
    background-color: #242131;
    border: 2px solid rgb(216, 216, 216);
    color: rgb(216, 216, 216);
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.3s;
}

.profPage .bookPannel .aboutAuthor #otherAuthorWorkBtn:hover {
    background-color: rgb(216, 216, 216);
    color: #242131;
}

.profPage .bookPannel .otherBooksLikeThis {
    position: absolute;
    width: 100%;
    height: 450px;
    top: 189vh;
}

.profPage .bookPannel .otherBooksLikeThis h3 {
    font-family: regularFont;
    color: rgb(235, 235, 235);
    font-weight: bold;
    user-select: none;
    margin-left: 80px;
}

.profPage .bookPannel .otherBooksLikeThis .booksLikeThis {
    height: 100%;
    width: 90%;
    position: absolute;
    margin-top: -20px;
    margin-left: 6.5%;
    overflow: hidden;
}

.profPage .bookPannel .otherBooksLikeThis .booksLikeThis .bookLikeThis {
    height: 63%;
    width: 200px;
    background-color: #2e3047;
    position: relative;
    margin-left: 30px;
    display: inline-block;
    margin-top: 60px;
    cursor: pointer;
    animation-name: loadingBooks;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: calc(0.1s * var(--i));
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
    border-radius: 4px;
}

.profPage .bookPannel .otherBooksLikeThis .booksLikeThis .bookLikeThis:hover {
    transform: skewY(3deg) rotateY(8deg);
    transform-style: preserve-3d;
    filter: brightness(110%);
}

.profPage .bookPannel .otherBooksLikeThis .booksLikeThis .bookLikeThis .bookLikeThisImg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.profPage .bookPannel .otherBooksLikeThis .booksLikeThis .bookLikeThis .bookLikeThisTitle {
    font-family: regularFont;
    color: rgb(160, 160, 160);
    text-align: center;
    margin-top: 290px;
    font-weight: bold;
}

@keyframes loadingBooks {
    0% {
        background-color: #2e3047;
    }

    30% {
        background-color: #2e3047;
    }

    50% {
        background-color: #3c3e57;
    }

    80% {
        background-color: #2e3047;
    }

    100% {
        background-color: #2e3047;
    }
}

.profPage .bookPannel .otherBooksLikeThis .pushToRight {
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #2e3047;
    left: 92%;
    top: 44%;
    z-index: 10;
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
}

.profPage .bookPannel .otherBooksLikeThis .pushToLeft {
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #2e3047;
    left: 4.4%;
    top: 44%;
    z-index: 10;
    transition: 0.4s;
    opacity: 0;
    cursor: pointer;
}

.profPage .bookPannel .otherBooksLikeThis .pushToRight svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(92, 92, 116);
    transition: .4s;
}

.profPage .bookPannel .otherBooksLikeThis .pushToRight:hover svg {
    fill: rgb(152, 152, 180);
}

.profPage .bookPannel .otherBooksLikeThis .pushToLeft:hover svg {
    fill: rgb(152, 152, 180);
}

.profPage .bookPannel .otherBooksLikeThis .pushToLeft svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(92, 92, 116);
    transition: .4s;
}

.profPage .bookPannel .commentsBox {
    position: absolute;
    top: 239vh;
    width: 100%;
    height: fit-content;
    display: block;
}

.profPage .bookPannel .commentsBox h3 {
    font-family: regularFont;
    font-weight: bold;
    font-size: 2em;
    margin-left: 6%;
    margin-top: 200px;
    transform: translateY(600px);
    color: rgb(235, 235, 235);
}

.profPage .bookPannel .commentsBox .comments {
    position: absolute;
    height: fit-content;
    left: 8%;
    top: 40px;
    display: block;
}

.profPage .bookPannel .commentsBox .comments .comment {
    position: relative;
    width: 600px;
    height: 160px;
    border-radius: 5px;
    background-color: rgb(57, 56, 83);
    margin-top: 50px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
}

.profPage .bookPannel .commentsBox .comments .comment:nth-child(2) {
    margin-top: 220px;
}

.profPage .bookPannel .commentsBox .comments .comment .commentProfIcon {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid rgb(158, 147, 216);
}

.profPage .bookPannel .commentsBox .comments .comment .commentProfIcon img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profPage .bookPannel .commentsBox .comments .comment .commentProfName {
    position: absolute;
    font-family: regularFont;
    font-weight: bold;
    font-size: 1em;
    margin-left: 10%;
    margin-top: 14px;
    color: rgb(255, 255, 255);
}

.closeCommentButton {
    position: absolute;
    left: 92%;
    top: 8%;
    font-weight: bold;
    font-size: 1em;
    color: #abadce;
    cursor: pointer;
    font-family: sans-serif;
}

.profPage .bookPannel .commentsBox .comments .comment .commentTxt {
    position: relative;
    font-family: regularFont;
    font-size: .9em;
    margin-left: 10%;
    margin-top: 49px;
    color: rgb(169, 166, 202);
    padding-right: 10px;
    width: 88%;
    display: block;
}

.profPage .bookPannel .commentsBox .comments .comment .like {
    position: absolute;
    left: 86%;
    top: 77%;
    cursor: pointer;
    filter: brightness(80%);
}

.profPage .bookPannel .commentsBox .comments .comment .dislike {
    position: absolute;
    left: 92%;
    top: 77%;
    transform: rotate(180deg);
    cursor: pointer;
    filter: brightness(80%);
}

.profPage .bookPannel .commentsBox .comments .addCommentBox {
    display: block;
    position: relative;
    width: 700px;
    margin-top: 200px;
    height: 400px;
}

.profPage .bookPannel .commentsBox .comments .addCommentBox .addCommentTitle {
    font-family: regularFont;
    font-size: 2em;
    font-weight: bold;
    margin-left: -60px;
    position: absolute;
    top: -800px;
    transform: translateY(530px);
}

.profPage .bookPannel .commentsBox .comments .addCommentBox #commentTxtBox {
    width: 90%;
    height: 70%;
    position: absolute;
    margin-top: 30px;
    background-color: rgb(51, 49, 77);
    border: none;
    outline: none;
    font-family: regularFont;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
    resize: none;
    color: rgb(192, 188, 235);
}

.profPage .bookPannel .commentsBox .comments .addCommentBox #insertCommentBtn {
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(209, 205, 255);
    color: rgb(209, 205, 255);
    font-family: regularFont;
    font-weight: bold;
    font-size: 1em;
    transform: translateY(400px);
    border-radius: 4px;
    transition: 0.3s;

}

.profPage .bookPannel .commentsBox .comments .addCommentBox #insertCommentBtn:hover {
    background-color: rgb(209, 205, 255);
    color: #242131;
}

.profPage .bookPannel .commentsBox .comments .addCommentBox .rating {
    position: relative;
    width: 260px;
    height: 50px;
    transform: translate(-90px, 280px) rotateY(180deg);
}

.profPage .bookPannel .commentsBox .comments .addCommentBox .rating input {
    display: none;
}

.profPage .bookPannel .commentsBox .comments .addCommentBox .rating label {
    display: inline-block;
    cursor: pointer;
    width: 30px;

}

.profPage .bookPannel .commentsBox .comments .addCommentBox .rating label::before {
    content: '\f005';
    position: relative;
    font-family: fontAwesome;
    font-size: 2em;
    color: #312d42;
    position: relative;
}

.profPage .bookPannel .commentsBox .comments .addCommentBox .rating label::after {
    content: '\f005';
    position: relative;
    font-family: fontAwesome;
    font-size: 2em;
    color: #8375c0;
    opacity: 0;
    margin-left: -30px;
    z-index: 10;
    transition: 0.4s;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.profPage .bookPannel .commentsBox .comments .addCommentBox .rating label:hover:after,
.profPage .bookPannel .commentsBox .comments .addCommentBox .rating label:hover~label:after,
.profPage .bookPannel .commentsBox .comments .addCommentBox .rating input:checked~label:after {
    opacity: 1;
}

.profPage .bookPannel .bookRate {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 3%;
    top: 94vh;
}

.profPage .bookPannel .bookRate li {
    position: relative;
    list-style: none;
    display: inline;
    margin-left: 10px;
}

.profPage .bookPannel .bookRate li svg {
    fill: #aca8bd;
}

.profPage .bookPannel .bookRate2 {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 3%;
    top: 94vh;
}

.profPage .bookPannel .bookRate2 li {
    position: relative;
    list-style: none;
    display: inline;
    margin-left: 10px;
}

.profPage .bookPannel .bookRate2 li svg {
    fill: #b2a9df;
}

.profPage .shelfPnl {
    position: fixed;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 22;
    display: block;
    background-color: #242131;
    transition: 0.5s;
    overflow: auto;
}

.profPage .shelfPnl .shelfPnlCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#080808, #242131);
    opacity: 1;
    transition: 0.3s;
}

.profPage .shelfPnl .shelfPnlCover #shelfNameTitle {
    position: absolute;
    left: 8%;
    top: 20%;
    font-weight: bold;
    font-family: regularFont;
    color: rgb(226, 220, 241);
    font-size: 2em;
}

.profPage .shelfPnl #shelfPnlCloseBtn {
    position: fixed;
    left: 96%;
    top: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 99999999;
}

.profPage .shelfPnl #shelfPnlCloseBtn:hover {
    fill: #c2bcdd;
}

.profPage .shelfPnl .secondetList {
    position: absolute;
    top: 448px;
    left: 40px;
    width: 95%;
    height: 290px;
    z-index: 100;
    margin-top: -260px
}

.profPage .shelfPnl .secondetList li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 110px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.profPage .shelfPnl .secondetList li:hover {
    transform: skewY(5deg) rotateY(15deg);
    transform-style: preserve-3d;
    filter: brightness(110%);

}

.profPage .shelfPnl .secondetList li .books4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #2e3047;
    animation-name: loadingBooks;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes loadingBooks {
    0% {
        background-color: #2e3047;
    }

    30% {
        background-color: #2e3047;
    }

    50% {
        background-color: #3c3e57;
    }

    80% {
        background-color: #2e3047;
    }

    100% {
        background-color: #2e3047;
    }
}

.profPage .shelfPnl::-webkit-scrollbar {
    width: 10px;
}

.profPage .shelfPnl::-webkit-scrollbar-track {
    background: #1a1724;
}

.profPage .shelfPnl::-webkit-scrollbar-thumb {
    background: #282535;
}

.profPage .shelfPnl::-webkit-scrollbar-thumb:hover {
    background: #555;

}

.profPage .shelfPnl .shelfPnlCover #shelfPnlAlert {
    text-align: center;
    font-family: regularFont;
    font-weight: bold;
    color: rgb(141, 134, 158)
}

.bookCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: brightness(100%);
    transition: 1s;
}

.bookCode {
    position: relative;
    top: 50%;
    width: 200px;
    overflow: hidden;
    height: fit-content;
    opacity: 1;
    color: #abadce;
    font-family: regularFont;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    opacity: 0;
}

.bookTitle {
    position: relative;
    top: 100%;
    width: 200px;
    overflow: hidden;
    margin-top: 12px;
    height: fit-content;
    opacity: 1;
    color: #abadce;
    font-family: regularFont;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 90px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.profPage .nameSelectoreBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 25353453;
    display: none;
    opacity: 0;
}

.ProfPage .nameSelectoreBox #shelfNameSelector {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(165, 165, 165);
    user-select: none;
    transition: .3s;
}

.ProfPage .nameSelectoreBox #shelfNameSelector:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.profPage .nameSelectoreBox #shelfName {
    font-family: regularFont;
    font-weight: bold;
    font-size: 1.2em;
    color: #e3e2e973;
    margin-left: -90px;
    transform: translate(90px, 37px);
    transition: 0.3s;
    z-index: 1;

}

.profPage .nameSelectoreBox #addShelfBtnSlc {
    background-color: transparent;
    border: 2px solid rgb(208, 193, 243);
    padding: 0px;
    margin-top: -5px;
    border-radius: 3px;
    transition: .3s;
    transform: translate(10px, -7px)
}

.profPage .nameSelectoreBox #addShelfBtnSlc:hover {
    background-color: rgb(208, 193, 243);
}

.profPage .nameSelectoreBox #addShelfBtnSlc:hover svg {
    fill: rgb(22, 19, 32);
}