@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.signUpPage {
    background-color: #2b2131;
    height: 100vh;
}

.signUpPage::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2b2131, #000000);
}

.signUpPage .navBar {
    height: 60px;
    z-index: 520;
}

.signUpPage .navBar div {
    display: inline;
    width: 300px;
}

.signUpPage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.signUpPage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.signUpPage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.signUpPage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.signUpPage .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.signUpPage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.signUpPage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
}

.signUpPage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.signUpPage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.signUpPage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    transition: .3s;
}

.signUpPage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.signUpPage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.signUpPage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.signUpPage .navBar #profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transform: translateX(-20px);
    transition: .3s;
}

.signUpPage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.signUpPage .navBar #profileIcon svg {
    position: absolute;
    margin-left: 3px;
    transition: .3s;
}

.signUpPage .navBar #profileIcon:hover svg {
    fill: white;
}

.signUpPage .navBar #profileIcon #profIconPicture {
    position: absolute;
    left: -16px;
    top: -10px;
    width: 103%;
    height: 103%;
    border-radius: 50%;
    filter: brightness(100%);
    user-select: none;
}


.signUpPage .navBar #messageBox {
    position: absolute;
    left: 17%;
    margin-top: -120px;
    color: white;
    font-family: regularFont;
    color: rgb(223, 222, 222);
    transition: 0.3s;
}

.messageBoxFadeInOut {
    animation-name: fadeMessageBox;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes fadeMessageBox {
    0% {
        margin-top: -120px;
    }

    10% {
        margin-top: 70px;
    }

    50% {
        margin-top: 70px;
    }

    90% {
        margin-top: 70px;
    }

    100% {
        margin-top: -120px;
    }
}

.signUpPage .formBox {
    display: inline-block;
    height: 500px;
    width: 58%;
    position: absolute;
    top: 120px;
}

.signUpPage .bgCandle {
    height: 500px;
    display: inline-block;
    margin-top: 60px;
    position: absolute;
    left: 18%;
    width: 44%;
}

.signUpPage .formBox img {
    width: 400px;
    margin-left: 250px;
    height: 500px;
}

.signUpPage .bgCandle img {
    width: 230px;
    height: 300px;
    margin-top: 30px;
    margin-left: 100px;
}

.signUpPage .formBox img:nth-child(1) {
    height: 320px;
    width: 800px;
    margin-top: 200px;
}

.signUpPage .formBox::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 30%;
    background: linear-gradient(#0b090e, #000000);
    z-index: 10;
    top: 75%;
    opacity: .7;
    left: 250px;
}

.signUpPage .formBox img:nth-child(2) {
    margin-top: -550px;
    height: 350px;
    width: 300px;
    filter: brightness(90%);
    margin-left: 490px;
}

/*     start animating fire for candles       */

@keyframes burn {

    0%,
    100% {
        border-radius: 1.25% 61% 11.25% 61.25%;
        width: 5.5vmin;
    }

    10% {
        border-radius: 1.25% 61.25% 12.25% 60.5%;
    }

    20% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 5.75vmin;
    }

    30%,
    90% {
        border-radius: 1.25% 41.25% 12.25% 60.5%;
    }

    40% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 5vmin;
    }

    50% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
    }

    60% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }

    70% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
        width: 5.75vmin;
    }

    80% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }
}

.signUpPage .bgCandle .fireOne {
    animation: burn 4s infinite;
    width: 15vmin;
    margin-left: -200px;
    position: absolute;
    aspect-ratio: 1;
    background:
        radial-gradient(100% 100% at 90% 90%, #251c27, #251c2733 20%, #251c2700 50%),
        radial-gradient(farthest-side at 110% 120%, #251c27, rgb(114, 40, 17), #cb6c3b88, #0000),
        radial-gradient(at 100% 100%, #fc08, #cb6c3b, #eebd7600 60%),
        linear-gradient(135deg, #fff0 20%, #ff0);
    background-color: #ffe;
    border-radius: 2% 87% 45% 85%;
    box-shadow: inset 2vmin 2vmin 2vmin -1.5vmin #f808,
        inset -1vmin -1vmin 5vmin -3vmin #00f7,
        inset 0vmin -1vmin 5vmin -3vmin #00f8,
        inset -1vmin -1vmin 2vmin -2vmin #251c27,
        inset -1vmin -1vmin 3vmin -1vmin #251c27,
        inset -1vmin -1vmin 2vmin #fc08,
        -0.5vmin -0.5vmin 1vmin #ff08,
        -1vmin -1vmin 2vmin #ce8c47,
        -2vmin -2vmin 10vmin 1vmin #251c27,
        -6vmin -6vmin 35vmin 3vmin #fa06;
    filter: blur(0.2vmin);
    transform: rotate(45deg);
    position: absolute;
    left: 66%;
    top: 66px;
}

@keyframes burn2 {

    0%,
    100% {
        border-radius: 1.25% 61% 11.25% 61.25%;
        width: 5.5vmin;
    }

    20% {
        border-radius: 1.25% 61.25% 12.25% 60.5%;
    }

    10% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 5.75vmin;
    }

    40%,
    90% {
        border-radius: 1.25% 41.25% 12.25% 60.5%;
    }

    30% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 5vmin;
    }

    60% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
    }

    50% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }

    80% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
        width: 5.75vmin;
    }

    70% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }
}

.signUpPage .bgCandle .fireTwo {
    animation: burn2 4s infinite;
    width: 15vmin;
    margin-left: -200px;
    position: absolute;
    aspect-ratio: 1;
    background:
        radial-gradient(100% 100% at 90% 90%, #251c27, #251c2733 20%, #251c2700 50%),
        radial-gradient(farthest-side at 110% 120%, #251c27, rgb(114, 40, 17), #cb6c3b88, #0000),
        radial-gradient(at 100% 100%, #fc08, #cb6c3b, #eebd7600 60%),
        linear-gradient(135deg, #fff0 20%, #ff0);
    background-color: #ffe;
    border-radius: 2% 87% 45% 85%;
    box-shadow: inset 2vmin 2vmin 2vmin -1.5vmin #f808,
        inset -1vmin -1vmin 5vmin -3vmin #00f7,
        inset 0vmin -1vmin 5vmin -3vmin #00f8,
        inset -1vmin -1vmin 2vmin -2vmin #251c27,
        inset -1vmin -1vmin 3vmin -1vmin #251c27,
        inset -1vmin -1vmin 2vmin #fc08,
        -0.5vmin -0.5vmin 1vmin #ff08,
        -1vmin -1vmin 2vmin #ce8c47,
        -2vmin -2vmin 10vmin 1vmin #251c27,
        -6vmin -6vmin 35vmin 3vmin #fa06;
    filter: blur(0.2vmin);
    transform: rotate(45deg);
    position: absolute;
    left: 61.4%;
    top: 98px;
}

@keyframes burn3 {

    0%,
    100% {
        border-radius: 1.25% 61% 11.25% 61.25%;
        width: 5.5vmin;
    }

    80% {
        border-radius: 1.25% 61.25% 12.25% 60.5%;
    }

    70% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 5.75vmin;
    }

    60%,
    90% {
        border-radius: 1.25% 41.25% 12.25% 60.5%;
    }

    50% {
        border-radius: 0% 41.25% 41.25% 61.75%;
        width: 5vmin;
    }

    40% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
    }

    30% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }

    20% {
        border-radius: 0.5% 61.75% 10.5% 62.5%;
        width: 5.75vmin;
    }

    70% {
        border-radius: 1.25% 61.75% 11.25% 62%;
    }
}

.signUpPage .bgCandle .fireThree {
    animation: burn3 4s infinite;
    width: 15vmin;
    margin-left: -200px;
    position: absolute;
    aspect-ratio: 1;
    background:
        radial-gradient(100% 100% at 90% 90%, #251c27, #251c2733 20%, #251c2700 50%),
        radial-gradient(farthest-side at 110% 120%, #251c27, rgb(114, 40, 17), #cb6c3b88, #0000),
        radial-gradient(at 100% 100%, #fc08, #cb6c3b, #eebd7600 60%),
        linear-gradient(135deg, #fff0 20%, #ff0);
    background-color: #ffe;
    border-radius: 2% 87% 45% 85%;
    box-shadow: inset 2vmin 2vmin 2vmin -1.5vmin #f808,
        inset -1vmin -1vmin 5vmin -3vmin #00f7,
        inset 0vmin -1vmin 5vmin -3vmin #00f8,
        inset -1vmin -1vmin 2vmin -2vmin #251c27,
        inset -1vmin -1vmin 3vmin -1vmin #251c27,
        inset -1vmin -1vmin 2vmin #fc08,
        -0.5vmin -0.5vmin 1vmin #ff08,
        -1vmin -1vmin 2vmin #ce8c47,
        -2vmin -2vmin 10vmin 1vmin #251c27,
        -6vmin -6vmin 35vmin 3vmin #fa06;
    filter: blur(0.2vmin);
    transform: rotate(45deg);
    position: absolute;
    left: 71%;
    top: 133px;
}

.signUpPage .formBox ul {
    position: absolute;
    top: 11%;
    left: 63%;
    z-index: 100;
}

.signUpPage .formBox ul li p {
    font-family: regularFont;
    display: inline-block;
    font-size: 1.1em;
}

.signUpPage .formBox ul li {
    list-style: none;
}

.signUpPage .formBox ul li:last-child {
    margin-top: 10px;
    font-size: 0.8em;
    margin-left: 40px;
}

.signUpPage .formBox ul li:last-child p {
    transform: translateX(-40px);
}

.signUpPage .formBox ul li:last-child div {
    width: 30px;
    height: 30px;
    transform: translate(70px, -40px);
    border-radius: 3px;
    cursor: pointer;
}

.signUpPage .formBox ul li:last-child div svg {
    opacity: .2;
    transition: 0.2s;
}

.signUpPage .formBox ul li input {
    width: 100px;
    margin-left: 10px;
    transform: translateY(-2px);
    font-family: regularFont;
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.8s;
    padding: 2px;
}

.signUpPage .formBox ul li input:focus {
    border: none;
    outline: none;
}

.signUpPage .formBox .title {
    color: rgb(48, 48, 48);
    font-family: bookyFont;
    position: absolute;
    left: 78%;
    top: -6px;
}

.signUpPage .formBox button {
    color: rgb(48, 48, 48);
    font-family: regularFont;
    position: absolute;
    left: 88%;
    background-color: transparent;
    top: 256px;
    font-size: 0.9em;
    border-radius: 2px;
    border: none;
    padding: 2px;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s;
}

.signUpPage .formBox button:hover {
    color: black;
}

.signUpPage .formBox .singUpPageLink {
    z-index: 1000;
}

.signUpPage .formBox .singUpPageLink a {
    position: absolute;
    left: 67%;
    color: #433546;
    font-family: regularFont;
    text-decoration: none;
    top: 53%;
    font-size: 0.8em;
    transition: 0.3s;
    z-index: 1000;
}

.signUpPage .formBox .singUpPageLink a:hover {
    color: black;
}

.signUpPage .searchPnl {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    background-color: #363249;
    margin-top: -200vh;
    z-index: 120;
    opacity: 0;
    transition: 0.3s;
    overflow: auto;
}

.signUpPage .searchPnl #searchPnlCloseBtn {
    position: fixed;
    left: 96%;
    top: 100px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 99999999;
}

.signUpPage .searchPnl #searchPnlCloseBtn:hover {
    fill: #c2bcdd;
}

.signUpPage .searchPnl .secondetList {
    position: absolute;
    top: 358px;
    left: 40px;
    width: 95%;
    height: 290px;
    z-index: 100;
    margin-top: -260px
}

.signUpPage .searchPnl .secondetList li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 110px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.signUpPage .searchPnl .secondetList li:hover {
    transform: skewY(5deg) rotateY(15deg);
    transform-style: preserve-3d;
    filter: brightness(110%);

}

.signUpPage .searchPnl .secondetList li .books {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #2e3047;
    animation-name: loadingBooks;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes loadingBooks {
    0% {
        background-color: #2e3047;
    }

    30% {
        background-color: #2e3047;
    }

    50% {
        background-color: #3c3e57;
    }

    80% {
        background-color: #2e3047;
    }

    100% {
        background-color: #2e3047;
    }
}

.signUpPage .searchPnl::-webkit-scrollbar {
    width: 10px;
}

.signUpPage .searchPnl::-webkit-scrollbar-track {
    background: #1a1724;
}

.signUpPage .searchPnl::-webkit-scrollbar-thumb {
    background: #282535;
}

.signUpPage .searchPnl::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bookCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: brightness(100%);
    transition: 1s;
}

.bookTitle {
    position: relative;
    top: 100%;
    width: 200px;
    overflow: hidden;
    margin-top: 12px;
    height: fit-content;
    opacity: 1;
    color: #abadce;
    font-family: regularFont;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.li {
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 200px;
    margin-left: 34px;
    margin-top: 90px;
    position: relative;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.messageBoxFadeInOut {
    animation-name: fadeMessageBox;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}