@font-face {
    font-family: bookyFont;
    src: url(assets/Charm-Bold.ttf)
}

@font-face {
    font-family: regularFont;
    src: url(assets/Merienda-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.signUpPage {
    background-color: #2b2131;
    height: 100vh;
}

.signUpPage::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2b2131, #000000);
}

.signUpPage .navBar {
    height: 60px;
    z-index: 20;
}

.signUpPage .navBar div {
    display: inline;
    width: 300px;
}

.signUpPage .navBar div img {
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-left: 15px;
}

.signUpPage .navBar div .siteName {
    width: 200px;
    height: 200px;
    display: inline;
}

.signUpPage .navBar div .siteName li {
    display: block;
    text-align: center;
    line-height: 22px;
    transform: translate(-50px, -45px);
}

.signUpPage .navBar div .siteName p {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    font-family: bookyFont;
    color: rgb(255, 255, 255);
}

.signUpPage .list {
    width: 500px;
    text-align: center;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.signUpPage .navBar .list li {
    display: inline-block;
    margin-left: 30px;
}

.signUpPage .navBar .list li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: .3s;
    font-weight: bold;
    font-family: regularFont;
}

.signUpPage .navBar .list li a:hover {
    color: rgb(255, 255, 255);
}

.signUpPage .navBar .bookSearchBox {
    margin-top: 2px;
    position: absolute;
    left: 75%;
    width: 184px;
}

.signUpPage .navBar #bookSearchTxtBox {
    width: 170px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(201, 201, 201);
    font-weight: bold;
    font-family: regularFont;
    padding-left: 5px;
    color: rgb(201, 201, 201);
    transition: .3s;
}

.signUpPage .navBar #bookSearchTxtBox:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

.signUpPage .navBar #bookSearchTxtBox:focus~#searchBoxBtn {
    fill: white;
}

.signUpPage .navBar .bookSearchBox svg {
    position: absolute;
    left: 90%;
    top: -1px;
    cursor: pointer;
    transition: .3s;
}

.signUpPage .navBar #profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid rgb(201, 201, 201);
    cursor: pointer;
    transform: translateX(-20px);
    transition: .3s;
}

.signUpPage .navBar #profileIcon:hover {
    border: 2px solid rgb(255, 255, 255);
}

.signUpPage .navBar #profileIcon svg {
    position: absolute;
    margin-left: 2px;
    transition: .3s;
}

.signUpPage .navBar #profileIcon:hover svg {
    fill: white;
}

.signUpPage .formBox {
    display: inline-block;
    height: 500px;
    width: 55%;
    position: absolute;
    top: 120px;
}

.signUpPage .bgCandle {
    height: 500px;
    display: inline-block;
    margin-top: 60px;
    position: absolute;
    left: 44%;
    width: 44%;
}

.signUpPage .formBox img {
    width: 400px;
    margin-left: 250px;
    height: 500px;
}

.signUpPage .bgCandle img {
    width: 230px;
    height: 300px;
    margin-top: 30px;
    margin-left: 100px;
}

.signUpPage .formBox img:nth-child(1) {
    height: 320px;
    width: 800px;
    margin-top: 200px;
}

.signUpPage .formBox::before{
    content: '';
    position: absolute;
    width: 110%;
    height: 30%;
    background: linear-gradient(#0b090e, #000000);
    z-index: 10;
    top: 75%;
    opacity: .7;
    left: 250px;
}

.signUpPage .formBox img:nth-child(2) {
    margin-top: -530px;
    height: 350px;
    width: 300px;
    margin-left: 400px;
}